<div class="login-wrap d-flex justify-content-center align-items-center">
    <form class="form d-flex flex-column justify-content-evenly align-items-center">
      <div class="btn-close-wrap d-flex justify-content-end w-100">
        <button (click)="close()" class="btn-close-cc">
          <img src="../../assets/images/icon-close.svg">
        </button>
      </div>
  
      <h3>Загрузка файлов</h3>
      <div class="d-flex flex-column">
        <input type="text" placeholder="Файлы" class="">
      </div>
  
      <button class="btn-login">Обработать</button>
    </form>
  </div>