.header-wrap {
  height: 4.4rem;
  background-color: #1FBBEB;
  padding: 0 1.5rem 0 1.5rem;
}

.header-wrap h1 {
  color: white;
  margin: 0;
  font-size: 32px;
  cursor: pointer;
}

.header-btn {
  background: linear-gradient(278.21deg, #005490 1.66%, #328BCB 96.78%);
  border-radius: 4px;
  outline: none;
  color: white;
  border: none;
  width: 95px;
  height: 38px;
  font-size: 18px;
}

a {
  text-decoration: none;
}
