<div class="login-wrap d-flex justify-content-center align-items-center">
  <form class="form d-flex flex-column justify-content-evenly align-items-center">
    <h3>Вход</h3>
    <div class="d-flex flex-column">
      <form [formGroup] = "formLogin" (ngSubmit) = "login()" method = "POST" class="d-flex flex-column" style="width: 100%; border-radius: 10px;" ngNativeValidate>
        <input type="text" placeholder="Логин" class="" formControlName="login" minlength="4" maxlength="20" required>
        <input type="password" placeholder="Пароль" id="password" formControlName="password" minlength="8" maxlength="20" required>
        <button class="btn-login" type="submit">Войти</button>
      </form>
      <span *ngIf="hasError" class="alert alert-warning" role="alert">{{errorMsg}}</span>
    </div>
  </form>
</div>
