<div class="home__wrap">
  <div class="d-flex flex-row col-12 align-items-center">
    <div class="home__preview col-7">
      <h2 class="home__preview-h2">
        Профайлер ускорит обработку документов!
      </h2>
      <span class="home__preview-span">Профайлер позволит сотрудникам Вашего предприятия производить быструю обработку и каталогизацию документов</span>
    </div>
    <div class="col-5 d-flex justify-content-end">
      <ng-lottie width="500px" [options]="options"></ng-lottie>
<!--      <img src="../../assets/images/homeImg.svg" alt="Image" class="home__content-img">-->
    </div>
  </div>

  <h3 class="text-center home-h3">
    Наши преимущества
  </h3>


  <div class="d-flex flex-row justify-content-around card-home-wrap">
    <div class="home-card d-flex flex-column align-items-center justify-content-center">
      <div class="icon-wrap d-flex justify-content-center">
        <img src="../../assets/images/feather_activity.svg">
      </div>
      <h4>Комфорт</h4>
      <span class="text-center home-span">Автоматизация упрощает работу Ваших сотрудников</span>
    </div>

    <div class="home-card d-flex flex-column align-items-center justify-content-center" id="center">
      <div class="icon-wrap d-flex justify-content-center">
        <img src="../../assets/images/arrowUp.svg">
      </div>

      <h4>Скорость</h4>
      <span class="text-center home-span">Быстрая обработка документов ускоряет бизнес процессы</span>
    </div>

    <div class="home-card d-flex flex-column align-items-center justify-content-center">
      <div class="icon-wrap d-flex justify-content-center">
        <img src="../../assets/images/icon-right.svg">
      </div>
      <h4>Интеграция</h4>
      <span class="text-center home-span">Возможность использовать данный сервис для различных предприятий</span>
    </div>
  </div>
</div>
