<!--<div style="height: 50px;" class="bg-light align-items-center">-->
<!--    <nav class="nav d-flex justify-content-around">-->
<!--        <a class="nav-link active" aria-current="page" href="/">Профайлер</a>-->
<!--        <a class="nav-link" href="/login">Вход</a>-->
<!--    </nav>-->
<!--</div>-->
<div class="home__wrap">
  <div class="d-flex flex-row col-12 align-items-center">
    <div class="home__preview col-7">
      <h2 class="home__preview-h2">
        Профайлер ускорит обработку документов!
      </h2>
      <span class="home__preview-span">Профайлер позволит сотрудникам Вашего предприятия производить быструю обработку и каталогизацию документов</span>
    </div>
    <div class="col-5">
      <img src="../../assets/images/homeImg.svg" alt="Image" class="home__content-img">
    </div>
  </div>

  <h3 class="text-center mt-5">
    Наши преимущества
  </h3>


  <div class="d-flex flex-row justify-content-around mt-5">
    <div class="home-card d-flex flex-column align-items-center justify-content-center">
      <div class="icon-wrap d-flex justify-content-center">
        <img src="../../assets/images/feather_activity.svg">
      </div>
      <h4>Заголовок</h4>
      <span>Мы такие вот такие молодцы</span>
    </div>

    <div class="home-card d-flex flex-column align-items-center justify-content-center" id="center">
      <div class="icon-wrap d-flex justify-content-center">
        <img src="../../assets/images/feather_activity.svg">
      </div>

      <h4>Заголовок</h4>
      <span>Мы такие вот такие молодцы</span>
    </div>

    <div class="home-card d-flex flex-column align-items-center justify-content-center">
      <div class="icon-wrap d-flex justify-content-center">
        <img src="../../assets/images/feather_activity.svg">
      </div>
      <h4>Заголовок</h4>
      <span>Мы такие вот такие молодцы</span>
    </div>
  </div>
</div>


<footer class="footer">
  хз нужен ли он
  <a routerLink="profile">
    create category
  </a>
</footer>
