<div class="login-wrap d-flex justify-content-center align-items-center">
  <form class="form d-flex flex-column gap-4 align-items-center">
    <div class="btn-close-wrap d-flex justify-content-end w-100">
      <button (click)="close()" class="btn-close-cc">
        <img src="../../assets/images/icon-close.svg">
      </button>
    </div>

    <h3>Создание категории</h3>
    <div class="d-flex flex-column gap-2 w-75">
      <input type="text" placeholder="Категория" class="form-control">
      <input type="text" placeholder="Ключевые слова" class="form-control">
    </div>

    <button class="btn-login">Создать</button>
  </form>
</div>

