.login-wrap {
  position: fixed;
  top: 30%;
  left: 35%;
}

.form {
  background-color: #3EC5EF;
  width: 30vw;
  height: 50vh;
  border-radius: 15px;
}

h3{
  color: white;
}

.btn-login {
  background: linear-gradient(278.21deg, #005490 1.66%, #328BCB 96.78%);
  border-radius: 4px;
  outline: none;
  color: white;
  border: none;
  width: 145px;
  height: 38px;
  font-size: 18px;
}

.btn-close-cc {
  background: transparent;
  border: none;
}

.btn-close-cc img {
  width: 20px;
  height: 20px;
}


.btn-close-wrap {
  padding-right: 1rem;
  margin-top: 1rem;
  /*margin-top: 10%;*/
}
